<div class="login-container">
  <mat-card class="login-card" #loginCard>
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm">
        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="email" name="email" required>
          <mat-error *ngIf="email.errors?.email">Digite un correo válido</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contraseña" formControlName="password" type="password" name="password" required>
          <mat-error *ngIf="password.errors?.loginFailed">Usuario y/o contraseña incorrecto(s)</mat-error>
        </mat-form-field>
      </form>
      <a routerLink="/olvido-contrasenna" (click)="logout()">¿Olvidaste tu contraseña?</a>
    </mat-card-content>
    <mat-card-actions> 
      <button mat-raised-button (click)="login()" color="primary" [disabled]="loginForm.invalid">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
