@import '../../styles';

.home-layout-container{
  display: flex;
  height: 100vh;
}

.sidebar-container{
  max-width: 16rem;
  background-color: $primary-color;
  height: 100%;
}

.drawer-content{
  max-width: 16rem; 
}

.drawer-title{
  text-align: center;
}

.main-content-container{
  padding: 2rem;
}
