<div class="change-password-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Cambio de contraseña</mat-card-title>
      <mat-card-subtitle>Ingrese su contraseña actual y la nueva contraseña</mat-card-subtitle>
    </mat-card-header>
    <form (ngSubmit)="changePassword()">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Contraseña actual" type="password" [(ngModel)]="currentPass" name="currentPass">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nueva contraseña" type="password" [(ngModel)]="newPass" name="newPass">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirme la nueva contraseña" type="password" [(ngModel)]="confirmNewPass" name="confirmNewPass">
          <mat-error *ngIf="confirmPassError">Las contraseñas no concuerdan</mat-error>
          <mat-error *ngIf="changeError$ | async">Error al solicitar el cambio de contraseña</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">Cambiar contraseña</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
