<h1>Actividad</h1>
<p>Fecha: {{activity.fecha}}</p>
<p>Horas: {{activity.horas}}</p>
<p>Proyecto: {{activity.proyecto.nombre}}</p>
<p>Categoría {{activity.categoria.nombre}}</p>
<p>Estado: {{activity.estado}}</p>
<p *ngIf="activity.justificacionRechazo != null && activity.justificacionRechazo !== ''">Justificación del rechazo: {{activity.justificacionRechazo}}</p>
<p>Detalles: {{activity.detalles}}</p>
<p>Archivos: <span *ngIf="files === null || files.length === 0">No tiene archivos.</span></p>

<div *ngFor="let file of fileURIs" >
  <a href="{{file.uri}}" download>{{file.nombre}}</a>
</div>
<div class="activity-details-img-container" *ngFor="let image of imageURIs">
  <img src="{{image.uri}}" alt="">
</div>
