<h1>Actividad</h1>
<p>Fecha: {{activity.fecha}}</p>
<p>Horas: {{activity.horas}}</p>
<p>Proyecto: {{activity.proyecto.nombre}}</p>
<p>Categoría {{activity.categoria.nombre}}</p>
<p>Estado: {{activity.estado}}</p>
<p>Detalles: {{activity.detalles}}</p>
<p>Archivos: <span *ngIf="files === null || files.length === 0">No tiene archivos.</span></p> 
<a *ngFor="let fileURI of fileURIs" href="{{fileURI}}" download>{{fileURI}}</a>
<div class="activity-details-img-container" *ngFor="let uri of imageURIs">
  <img src="{{uri}}" alt="">
</div>