<mat-card>
  <mat-card-header *ngIf="student$ | async as student">
    <mat-card-title>Proyectos del estudiante {{student.usuario.nombre}} {{student.usuario.apellidos}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="projects$ | async">
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{element.project.nombre}}</td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>Descripcion</th>
        <td mat-cell *matCellDef="let element">{{element.project.descripcion}}</td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>Asignar</th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            (change)="chooseProject($event, element.project)"
            [checked]="element.selected"
          ></mat-checkbox>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
    <div *ngIf="projectsPage$ |async as page">
      <mat-paginator
        [length]="page.totalElements"
        [pageSize]="page.size"
        [pageIndex]="page.number"
        [pageSizeOptions]="[2, 5, 10, 20]"
        (page)="getNewPage($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            (click)="editStudentProjects()">
      Guardar cambios en proyectos
    </button>
  </mat-card-actions>
</mat-card>
