.new-password-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

.mat-card {
  margin-top: 10rem;
  width: max-content;
  height: max-content;
}

.mat-card-title {
  text-align: center;
}

.new-password-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 20rem;
}
