<div>
  <h1>{{profile.usuario.nombre}} {{profile.usuario.apellidos}}</h1>
  <h2>Progreso</h2>
  <p>Horas realizadas: {{profile.horasTotales}}</p>
  <p>Horas pendientes: {{pendingHours$ | async}}</p>
  <p>Días restantes: {{profile.diasRestantes}}</p>
  <p>Fecha de finalización: {{profile.fechaFinal}}</p>
  <p>Fecha de inicio: {{profile.fechaInicio}}</p>
  <h2>Datos de TCU</h2>
  <p>Proyectos: <ng-container *ngFor="let proyecto of profile.proyectos; last as isLast">{{proyecto.nombre}}<span *ngIf="!isLast">, </span></ng-container></p>
  <p>Tipo: {{profile.tipo}}</p>
  <p>Estado: {{profile.estado}}</p>
  <h2>Datos Personales</h2>
  <p>Nombre: {{profile.usuario.nombre}} {{profile.usuario.apellidos}}</p>
  <p>Correo: {{profile.usuario.correo}}</p>
  <p>Carné: {{profile.carne}}</p>
  <p>Teléfono: {{profile.usuario.telefono}}</p>
  <button mat-button color="primary" routerLink="/cambiar-contrasenna" aria-label="cambiar contraseña">Cambiar contraseña</button>
  <a mat-fab color="primary" routerLink="/registrar-actividad" class="btn-add-activity" aria-label="Registrar actividad">
    <mat-icon>add</mat-icon>
  </a>
</div>
