<mat-card>
  <mat-card-header>
    <mat-card-title>Revisores</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-reviewers-list></app-reviewers-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            [routerLink]="['revisor/agregar']"
            *ngIf="(userRole$ | async) === coordinatorRole"
    >Agregar revisor</button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Estudiantes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-students-list></app-students-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary"
            [routerLink]="['estudiante/agregar']"
            *ngIf="(userRole$ | async) !== 'Estudiante'"
    >Agregar estudiante</button>
  </mat-card-actions>
</mat-card>
