<mat-card>
  <mat-card-header>
    <mat-card-title>Perfil de estudiante</mat-card-title>
  </mat-card-header>
  <form [formGroup]="studentForm" (ngSubmit)="editStudent()">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Correo" formControlName="email" [required]="editing" [readonly]="editing">
        <mat-error *ngIf="email.hasError('email')">Digite un email valido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Teléfono" formControlName="phone" [required]="editing">
        <mat-error *ngIf="phone.hasError('pattern')">Solo se permiten números en el teléfono</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Nombre" formControlName="name" [required]="editing">
        <mat-error *ngIf="name.hasError('pattern')">Solo se permiten letras en el nombre</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Apellidos" formControlName="lastNames" [required]="editing">
        <mat-error *ngIf="lastNames.hasError('pattern')">Solo se permiten letras en los apellidos</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Carné" formControlName="carne" [required]="editing">
        <mat-error *ngIf="carne.hasError('pattern')">El carné no cumple con el formato válido</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="type" [required]="editing">
          <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status" [required]="editing">
          <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Horas realizadas" formControlName="hours" [required]="editing">
        <mat-error *ngIf="hours.hasError('pattern')">Solo se permiten números</mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="!editing">
        <input matInput placeholder="Días restantes" formControlName="days" [required]="editing">
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" placeholder="Fecha de inicio" formControlName="startDate"
               [required]="editing">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" placeholder="Fecha de finalización" formControlName="endDate"
               [required]="editing">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
      <mat-list *ngIf="!editing">
        <h3 mat-subheader>Proyectos
          <button mat-icon-button (click)="editProjects()">
            <mat-icon>edit</mat-icon>
          </button>
        </h3>
        <mat-list-item *ngFor="let proyecto of proyectos" [routerLink]="['/proyectos/detalles/', proyecto]">
          <mat-icon mat-list-icon>perm_data_setting</mat-icon>
          <h4 mat-line>{{proyecto}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary"
              (click)="startEditing()"
              *ngIf=" !editing else editButtons"
              [disabled]="">Editar
      </button>
      <ng-template #editButtons>
        <button mat-raised-button color="warn" (click)="stopEditing()">Cancelar</button>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="studentForm.invalid || !studentForm.touched">Guardar cambios
        </button>
      </ng-template>
    </mat-card-actions>
  </form>
</mat-card>
