<div class="forgot-password-container">
  <mat-card #card>
    <mat-card-header>
      <mat-card-title>Recuperar contraseña</mat-card-title>
      <mat-card-subtitle>Ingrese su correo electrónico para recibir un código de recuperación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="forgotPassForm" (ngSubmit)="sendRetrievalCode()" class="forgot-password-form">
        <mat-form-field>
          <input matInput placeholder="Correo" formControlName="email" name="email" required>
          <mat-error *ngIf="email.errors?.email">Digite un email válido</mat-error>
          <mat-error *ngIf="email.errors?.required">Digite un email</mat-error>
          <mat-error *ngIf="email.errors?.requestError">Error al solicitar el código de recuperación</mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button type="submit" color="primary" [disabled]="!forgotPassForm.valid">Enviar código de recuperación</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>
